body{
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
background-size: cover;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-family: 'Roboto', sans-serif;
margin: 0;
padding: 0;
min-height: 100vh;
}

/* Estilos generales */


.container-principal {
    width: 90%; 
    max-width: 630px;
    margin-top: 100px;
    border: 1px solid #c5e700;
    padding: 20px;
    box-sizing: border-box;
    
}

.section-1 {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.11);
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}

.formulario {
    width: 100%;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

input {
    display: flex;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    box-sizing: border-box;
    text-align: center;




 
}


.btn-enviar {
    margin-top: 10px;
    width: 80px;
    font-size: 16px;
    margin: 10px;
   
}

.registrar {
    margin-top: 10px;
    width: 80px;
    font-size: 16px;
    margin: 10px;
   
}
.botones{
    
    display: flex;
 justify-content: center;

}

.btn-enviar:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.9);
}

label {
    font-size: 21px;
    color: rgb(255, 255, 255);
}
.icon{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
   margin: auto;
   margin-bottom: 20px;
   font-size: 40px;
}
i{
    font-size: 45px;
    color: rgb(29, 4, 97);
}

.material-symbols-outlined {
   
font-size: 80px;
display: flex;
align-items: center;
justify-content: center;
padding-top: 10px;
}


/* Media queries para hacerlo responsive */

@media (max-width: 768px) {
    .container-principal {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .container-principal {
        width: 90%;
    }
}
